{% extends 'common/backend_template.html' %}
{% block content %}
<div class="row">

    <!-- Right Sidebar -->
    <div class="col-12">
      <div class="card-box">
        <h4 class="text-dark  header-title m-t-0">Coming Soon</h4>
        <p class="text-muted m-b-25 font-13">
            These deals have been submitted to you.
        </p>

        <table class="table mb-0">
          <thead>
          <tr>
              <th>#</th>
              <th>Address</th>
              <th>Status</th>
              <th>ARV</th>
              <th>Rehab</th>
              <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div> <!-- end col-12 -->

</div><!-- End row -->
{% endblock %}
